*{    
    margin: 0;
    padding: 0;
}
.game{
    display: grid;
    width: 500px;
    padding: 5px;
    margin: 0 auto;
    border: 1px solid rgb(87, 86, 86); 
    
}

table {
    grid-column: 1;
    width: 300px;
}

td{
    width: 50px;
    height: 50px;
    padding: 20px;
    background: #a3ada3;
    color: rgb(14, 13, 13);
    border: 1px solid rgb(87, 86, 86); 
    text-align: center;
    font-size: 40px;   
}
#new_game{  
    width: 300px;  
    grid-row: 2;
    margin-top: 5px;
    padding: 10px 10px;
}
#text{   
    height: max-content;
    grid-column: 2;
    align-items: center;
   
}
#winner{    
   height: 50px;
   margin-top: 100px;
   align-items: center;
   grid-column: 2;
   grid-row: 1;
}


